<!DOCTYPE html>
<html>
<head>
    <title>
        Graph
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/" %}home.css"/>
</head>
<body>
	<h3 id="title">Draw a graph of several functions easily and quickly with FunGraph</h3>

    <div id="calculator"></div>

    <script>
      var elt = document.getElementById('calculator');
      var calculator = Desmos.GraphingCalculator(elt);
      calculator.setExpression({ id: 'graph1', latex: 'y=x^2' });
    </script>
</body>
</html>
